@font-face {
    font-family: 'TT Commons Pro'; /* Nombre de la fuente */
    src: url('/content/fonts/fuente.ttf') format('opentype'); /* Ruta al archivo OTF */
    font-weight: normal; /* Cambia esto según el peso de tu fuente */
    font-style: normal; /* Cambia esto si la fuente es cursiva */
  }
  
  .lista-espera {
    text-align: center;
    padding: 20px;
    font-family: 'TT Commons Pro', Arial, sans-serif; /* Utiliza 'TT Commons Pro' */
  
    h2 {
      margin-bottom: 20px;
      font-size: 24px;
    }
  }
  
  .lista-espera-table {
    width: 80%;
    margin: auto;
    border-collapse: collapse;
  
    th {
      border: 3px solid #000;
      background-color: #eeeeee;
      padding: 15px;
      font-weight: bold;
    }
  
    td {
      border: 3px solid #000;
      padding: 10px;
      text-align: center;
    }
  
    .fila-lista {
      &:nth-child(odd) {
        background-color: #e4e4e4; /* Gris claro para filas impares */
        color:#1d4e89
      }
  
      &:nth-child(even) {
        background-color: #1d4e89; /* Azul para filas pares */
        color: white; /* Texto en blanco para contraste */
      }
    }
  }
  
  .botones-accion {
    display: flex;
    justify-content: center;
    gap: 8px;
  
    .accion-boton {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 32px;
      height: 32px;
      border: none;
      border-radius: 50%;
      background-color: #003366; /* Azul oscuro para el fondo del botón */
      color: white;
      cursor: pointer;
      transition: background-color 0.3s ease;
  
      svg {
        fill: white;
      }
  
      &:hover {
        background-color: #001f4d; /* Color más oscuro al hacer hover */
      }
  
      &:disabled {
        background-color: #808080; /* Gris para el botón deshabilitado */
        cursor: not-allowed;
      }
  
      &.eliminar {
        background-color: #b22222; /* Rojo oscuro para el botón de eliminar */
  
        &:hover {
          background-color: #7a1818; /* Rojo más oscuro en hover */
        }
      }
    }
  }
  